

    @import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

    .work-sans-body {
        font-family: "Work Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
      }

.nav {
    display: flex;
    justify-content: space-between;
    margin: 10px auto;
    padding: 30px;
    align-items: center;
    margin-bottom: 0%;
}
.name {
    color: red;
    font-size: 2rem;
    font-weight: 800;
}
.nav-manu {
    display: flex;
    list-style: none;
    text-decoration: none;
    margin-right: 15px;
    
}
  .btn {
    background-color: orangered;
    color: white;
    width: 5.5rem;
    height: 2rem;
    border-radius: 20px;
    border: 0px;
  }  
.nav-item {
    
    
    margin-right: 15px;
}
.links {
    text-decoration: none;
   /* color: white;*/
}
.ham {
    display: none;
}

.mainTwo {
    
    padding: 30px;
    
}
.nameTwo {
    
    margin-bottom: 0%;
    font-size: 4rem;
    font-weight: 700px;
}

.shape {
    font-style: italic;
    font-family:cursive;
    font-weight: 100;
    
}
.btn2 {
    background-color: orangered;
    color: white;
    width: 10rem;
    height: 2.5rem;
    border-radius: 20px;
    border: 0px;
    font-size: 1rem;
}
.btn3 {
    background-color: black;
    color: white;
    width: 10rem;
    height: 2.5rem;
    border-radius: 20px;
    border: 1px;
    border-color: aliceblue;
    font-size: 1rem;
}
@media screen and (max-width:576px) {
 
    .ham {
        display: flex;
    }

    .nav-manu {
        display: none;
    }
}